host-suffix, googleapis.com, proxy
host-suffix, instagram.com, proxy
host-suffix, cdninstagram.com, proxy
host-suffix, fbcdn.net, proxy
host-suffix, facebook.com, proxy
host-suffix, fb.com, proxy
host-suffix, twitch.tv, proxy
host-suffix, gstatic.com, proxy
host-keyword, google, proxy
host-keyword, youtube, proxy
host-keyword, twitter, proxy
host-keyword, telegram, proxy