host, d1q6f0aelx0por.cloudfront.net, proxy
host, d2wy8f7a9ursnm.cloudfront.net, proxy
host, d36jcksde1wxzq.cloudfront.net, proxy
host-suffix, docker.com, proxy
host-suffix, docker.io, proxy
host-suffix, dockerhub.com, proxy
host-suffix, docker-compose.com, proxy
host-suffix, compose-spec.io, proxy
host-suffix, quay.io, proxy
host-suffix, gcr.io, proxy