#############################################
# 分流作用：对OpenAI相关服务进行分流
# 重要提示：如果不想新增一个策略组，可以设置策略偏好
# 项目地址：https://raw.githubusercontent.com/fmz200/wool_scripts/main/QuantumultX/filter/OpenAI.snippet
# 交流群组：https://t.me/quguanggao
# 更新时间：2023.02.16 16:26
# 策略选择：选择支持OpenAI的地区
#############################################

host-suffix, ai.com, proxy
host-keyword, gpt, proxy
host-keyword, openai, proxy
host-suffix, openai.com, proxy
host-suffix, vimeo.com, proxy
host-suffix, vimeocdn.com, proxy
host-suffix, hcaptcha.com, proxy
host-suffix, akamaized.com, proxy
host, cdn.auth0.com, proxy
host, openaiapi-site.azureedge.net, proxy